In [1]:
import cx_Oracle

In [2]:
con = cx_Oracle.connect('arjundb/root@localhost:1521/xe')

In [3]:
cursor = con.cursor()

In [15]:
data = cursor.execute("SELECT * FROM MOVIE_CAST")

bingo = data.fetchall()



print(bingo)

[(101, 901, 'John Scottie Ferguson'), (102, 902, 'Miss Giddens'), (103, 903, 'T.E. Lawrence'), (104, 904, 'Michael'), (105, 905, 'Antonio Salieri'), (106, 906, 'Rick Deckard'), (107, 907, 'Alice Harford'), (108, 908, 'McManus'), (110, 910, 'Eddie Adams'), (111, 911, 'Alvy Singer'), (112, 912, 'San'), (113, 913, 'Andy Dufresne'), (114, 914, 'Lester Burnham'), (115, 915, 'Rose DeWitt Bukater'), (116, 916, 'Sean Maguire'), (117, 917, 'Ed'), (118, 918, 'Renton'), (120, 920, 'Elizabeth Darko'), (121, 921, 'Older Jamal'), (122, 922, 'Ripley'), (114, 923, 'Bobby Darin'), (109, 909, 'J.J.Gittes'), (119, 919, 'Alfred Borden')]

In [26]:
data = cursor.execute("SELECT * FROM MOVIE_CAST")
dinga = data.fetchmany()
for i in dinga:
    l=list[i]
    if l[0]>102 and l[0]<105:
        print(l)

TypeError: There are no type variables left in list[101, 901, 'John Scottie Ferguson']

In [27]:
data = cursor.execute("SELECT * FROM MOVIE_CAST")
dinga = data.fetchone()
print(dinga)

(101, 901, 'John Scottie Ferguson')

In [40]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('arjundb/root@localhost') 
    cursor=con.cursor() 

    cursor.execute("create table employees(eno number,ename varchar2(10),esal number(10,2),eaddr varchar2(10))") 
    print("Table created successfully") 
except cx_Oracle.DatabaseError as e: 
    if con: 
        con.rollback() 
        print("There is a problem with sql",e) 
finally: 
    if cursor: 
        cursor.close() 
    
    if con: 
        con.close()
    print("closed ")

Table created successfully
closed

In [39]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('arjundb/root@localhost') 
    cursor=con.cursor() 
    cursor.execute("drop table employees") 
    print("Table dropped successfully") 
except cx_Oracle.DatabaseError as e: 
    if con: 
        con.rollback() 
        print("There is a problem with sql",e) 
finally: 
    if cursor: 
        cursor.close() 
    if con: 
        con.close()

Table dropped successfully

In [43]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('arjundb/root@localhost') 
    cursor=con.cursor() 
    sql="insert into employees values(:eno,:ename,:esal,:eaddr)" 
    records=[(200,'Sunny',2000,'Mumbai'), 
   (300,'Chinny',3000,'Hyd'), 
   (400,'Bunny',4000,'Hyd')] 
    cursor.executemany(sql,records) 
    con.commit() 
    print("Records Inserted Successfully") 
except cx_Oracle.DatabaseError as e: 
    if con: 
        con.rollback() 
        print("There is a problem with sql",e) 
finally: 
    if cursor: 
        cursor.close() 
    if con: 
        con.close()

Records Inserted Successfully

In [ ]:
import cx_Oracle 
try: 
    con=cx_Oracle.connect('arjundb/root@localhost') 
    cursor=con.cursor() 
    ans=input("yes or no")
    while ans="yes": 
        eno=int(input("Enter Employee Number:")) 
        ename=input("Enter Employee Name:") 
        esal=float(input("Enter Employee Salary:")) 
        eaddr=input("Enter Employee Address:") 
        sql="insert into employees values(%d,'%s',%f,'%s')" 
        cursor.execute(sql %(eno,ename,esal,eaddr)) 
        print("Record Inserted Successfully") 
       ## option=input("Do you want to insert one more record[Yes|No] :") 
        ans=input("yes or no")
        if option=="No": 
            con.commit
            break 
except cx_Oracle.DatabaseError as e: 
      if con: 
        con.rollback() 
        print("There is a problem with sql :",e) 
finally: 
        if cursor: 
            cursor.close() 
        if con: 
            con.close()

Enter Employee Number:800
Enter Employee Name:Anif
Enter Employee Salary:100
Enter Employee Address:Ananthapur
Record Inserted Successfully
Do you want to insert one more record[Yes|No] :yes
Enter Employee Number:801
Enter Employee Name:Singham
Enter Employee Salary:2000
Enter Employee Address:Chennai
Record Inserted Successfully
Do you want to insert one more record[Yes|No] :no